 <!-- Bottom Nav-->
  <footer>
    <nav class="navbar fixed-bottom bg-dark navbar-dark">
      <div class="container-fluid">
        <h6 class="navbar-text" href="#">&copy; Copyright Lucas Fan COMP229. ALL Rights reserved.</h6>
      </div>
    </nav>
  </footer>